@font-face {
    font-family: "Galyon";
    src: url('/fonts/Galyon-Bold.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Galyon";
    src: url('/fonts/Galyon-Bold-Italic.otf') format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Galyon";
    src: url('/fonts/Galyon-Book.otf') format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Galyon";
    src: url('/fonts/Galyon-Book-Italic.otf') format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: "Galyon", sans-serif;
}

